version: 2.1

executors:
  my-executor:
    docker:
      - image: continuumio/miniconda3
    working_directory: ~/repo

jobs:
  build:
    executor: my-executor
    steps:
      - checkout
      - run:
          name: Setup Environment
          command: |
            LATEST_COMMIT=$(git rev-parse HEAD)
            echo $LATEST_COMMIT
            echo $CIRCLE_COMPARE_URL

      - store_test_results:
          path: ./


workflows:
  version: 2.1

  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
